body {
  background-color: black;
}

div.hero {
  width : auto;
  height : 100px;
  top : 0;
  background-color: black;
  color: white;
  padding-left:48%
}

div.content {
  padding: 5%;
  width: 66%;
  margin-left:15%;
  background-color: white;
}

div.box {
    width: 100%;
    background-color: black;
    margin: auto;
    z-index: 10;
}

.box:hover {
  clear: none;
  background-color: red;
  z-index: 0;
}
div.explore {
    width: 50%;
    float: left;
    height: 100px;
    background-color: blue;
        overflow: hidden;
}
.explore:hover {
   height : 1000px;
   background-color: red;
   display : block;
   overflow: visible;
}

div.create {
    width: 50%;
    float: right;
    height: 100px;
    background-color: green;
    overflow: hidden;
}
.create:hover{
   height : 1000px;
      background-color: red;
   display : block;
   overflow: visible;
}

#clear {
    clear: both;
}
