body {
  background-color: white;

  font-family: 'Oxygen', sans-serif;
}



div.hero {
  width : auto;
  height : 100px;
  top : 0;
  background-color: white;
  color: black;
  padding-left:5%
}

div.content {
  padding: 5%;
  width: 66%;
  margin-left:15%;
  background-color: white;
}

a {
  color: black;
}
