body {
  /* margin: 40px; */
  font-family: 'Oxygen', sans-serif;
}
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, [col] 33% ) ;
        grid-template-rows: repeat(3, [row] auto  );
        background-color: #fff;
        color: #444;
        padding-top:10%;
    }
    .box {
        background-color: #fff;
        color: black;
        padding: 20px;
        font-size: 90%;

    }
    .box .box {
        background-color: #ccc;
        color: #444;
    }
    .a {
        grid-column: col / span ;
        grid-row: row;
        border-width: thin;
        border-style: solid;
        border-color : #fff;
        border-right-color: black;
    }
    .b {
        grid-column: col 2 / span ;
        grid-row: row;
        border-width: thin;
        border-style: solid;
        border-color : #fff;

    }

    .c {
        grid-column: col 3/ span ;
        grid-row: row;
        border-width: thin;
        border-style: solid;
        border-color : #fff;
        border-left-color: black;
    }
    ul {
      list-style-type: none;
    }
